/* Global */
*{
    margin:0;
    padding:0;
}
/* mobile */

/* Header */
header{
    background:#C8102E;
    display:flex;
    justify-content:space-between;
    padding:12px;
}
header .logo{
    background:white;
    color:#C8102E;
    border-radius:50%;
    height:50px;
    width:50px;
    
    /*placeholder logo*/
    position:relative;
}

/* navigation */
#mobileNavOverlay{
    display:block;
    top:0;
    left:0;
    height:calc(100vh - 74px);
    width:0;
    background:rgba(200, 16, 46, .7);
    transition:all 350ms;
}


/*------- placeholder logo -------*/
header .logo a{
    color:#C8102E;
}
header .logo svg{
    position:absolute;
    top: 5px;
    left: 5px;
    height:2.5em;
}

header nav{
    margin:auto 0;
}

header nav em{
    color:white;
    font-size:2em;
}
