/* GLOBAL */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body, html{
    font-size:17px;
    min-height:101%;
    /*overflow: overlay;*/
}
*{
    margin:0;
    padding:0;
    font-family: Roboto, open-sans;
}
ul li, ol li{
    padding:4px 0;
}
input:active, input:focus, button:active, button:focus{
    outline:0;
}
input[type=submit]:hover{
    cursor:pointer;
}
a{
    color:#C8102E;
    text-decoration:none;
}
label{
    display:block;
}
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
p, span{
    margin:8px 0;
    line-height:1.5em;
}
hr{
    color:#C8102E;
    border: 0;
    height: .1em;
    margin:14px 0;
    background: -webkit-linear-gradient(left, hsla(350, 85%, 42%,0) 0%, hsla(350, 85%, 42%,.75) 50%, hsla(350, 85%, 42%,0) 100%);
}
main{

}
.wrapper{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.no-gutters{
    padding:0 !important;
    margin:0 !important;
}
.p{
    padding: 8px 12px;
}
.row{
    box-sizing: border-box;
    width:100%;
    display:block;
    padding:8px 12px;
}
.col-1{
    max-width:100%;
    margin:6px 0;
}
.col-2{
    max-width:50%;
    margin:6px 0;
}
.col-3{
    max-width:33%;
    margin:6px 0;
}
.zindex{
    z-index:999;
}
.text-center{
    text-align:center;
}
.m-x{
    margin: auto !important;
}
.m-r{
    margin-right:6px;
}
.m-l{
    margin-left: 1.5em;
    margin-top:8px;
}
.p-0x{
    padding-top:0 !important;
    padding-bottom:0 !important;
}
.block{
    display:block !important;
}
.flex{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.flex-a{
    display:flex;
    justify-content: space-around;
}
.flex-b{
    display:flex;
    justify-content: space-between;
}
.flex-c{
    display:flex;
    justify-content:center;
    align-items:center;
}
.flex-e{
    display:flex;
    justify-content:space-evenly;
}
.fixed{
    position:sticky;
    z-index:999;
}

/* DESKTOP */
@media screen and (min-width: 1025px) {
    main, footer{
        max-width:66%;
        margin:0 auto;
    }
    .wrapper{
        width:66%;
        display: flex;
        justify-content: space-between;
        margin:0 auto;
    }
    #desktopNav{
        display:block !important;
    }
    #mobileNavContainer{
        display:none;
    }
}

/* MOBILE */
@media screen and (min-width: 578px) {
    .hero-row{
        padding:8px 0 !important;
    }
    .hero-wrapper{
        background-position: top !important;
        height:300px !important;
    }
    h1{
        font-size:1.6em;
    }
    h2{
        font-size:1.4em;
    }
    h3{
        font-size:1.3em;
    }
}
@media screen and (max-width: 370px) {
    .searchRouteTableRow{
        padding:6px 0px !important;
    }
}
@media screen and (max-height: 420px) {
    #mobileNavFooter{
        position:unset !important;
    }
}

/* Header */
header{
    /*background:#C8102E;*/
    background:#FFF;
    display:flex;
    justify-content:space-between;
    padding:12px;
    width: calc(100% - 24px);
    height:40px;
    overflow:hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition:all 350ms;
}
header .logo{
    background:white;
    color:#C8102E;
    border-radius:50%;
}
/* navigation */
.activeDesktop{
    background: #C8102E;
    color: white !important;
}
#desktopNav{
    box-sizing:border-box;
    display:none;
}
#desktopNav a{
    text-decoration:none;
    color:#C8102E;
    font-size:1.4em;
    padding: 1em .4em;
}
#mobileNavOverlay{
    /*display:none;*/
    position:fixed;
    top:64px;
    right:0;
    height:calc(100vh - 65px);
    width:0;
    background:rgba(200, 16, 46, .97);
    overflow-y:scroll;
    transition:all 350ms;
    z-index:99;
}
#mobileNavFooter{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background:#FFF;
}
#mobileNavFooter img{
    height:50px;
    display:block;
    margin:0 auto;
    padding:6px 0;
}
#mobileNavLinks{
    display:none;
    list-style-type:none;
    padding:2rem;
    position:relative;
}
#mobileNavLinks li{
    padding: 1rem 0;
    text-align:center;
    border-top: 2px solid #FFF;
}
#mobileNavLinks li:last-of-type{
    border-bottom: 2px solid #FFF;
}
#mobileNavLinks a{
    display:block;
    color:white;
    text-decoration:none;
    font-size:1.2em;
    font-weight:700;
}
header .logo a{
    color:#C8102E;
}
header .logo svg{
    position:absolute;
    height:2.5em;
}
header nav{
    margin:auto 0;
}
header nav em{
    color:white;
    font-size:2em;
}
header nav svg:hover{
    cursor:pointer;
}

/* Search */
#mobileSearch{
    width: 0;
    opacity:0;
    display:none;
    transition:all 350ms;
}
#mobileSearch input[type=text]{
    /*width: 133px;*/
    width: 0;
    opacity:0;
    border-radius: 4px 0px 0px 4px;
    border-left: 2px solid #C8102E;
    border-top: 2px solid #C8102E;
    border-bottom: 2px solid #C8102E;
    border-right:0;
    padding:3px;
    transition:all 350ms;
}
#mobileSearch button{
    /*width:35px;*/
    width: 0;
    opacity:0;
    background: rgba(200, 16, 46, .2);
    color:#C8102E;
    border: 2px solid #C8102E;
    border-radius: 0px 5px 5px 0px;
    transition:all 350ms;
}
#mobileSearch input:active, #mobileSearch input:focus, #mobileSearch button:active, #mobileSearch button:focus{
    outline:none;
}


/* Forside */
.hero-wrapper{
    width: 100%;
    height: 225px;
    background-image: url(../img/hf-elderlywalkers.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
}


/* Hjertestier */
.spec-btn:hover{
    cursor:pointer;
}
.spec-btn{
    padding:3px;
    font-weight:600;
    letter-spacing:.05em;
    width:30%;
    margin:0 auto;
    border-radius:4px;
    border:2px solid #C8102E;
    background:transparent;
    transition:all 250ms;
}
.active-spec-btn{
    background:#C8102E;
    color:white;
}
.no-line-height{
    line-height:1em;
}
.searchRoute{
    background:#C8102E;
    color:white;
    padding:12px 0;
}
.searchRoute input[type=text]{
    padding:7px;
}
.searchRoute input{
    padding:4px;
    border-radius:4px;
    border:2px solid #C8102E;
    width: 55%;
    box-sizing: border-box;
}
.searchRoute h3{
    font-weight: 100;
    margin: 0px 0px 10px 0px;
}
/* Search route table */
.searchRouteTableRow{
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 8px 12px;
    overflow-x:auto;
}
#searchRouteTable{
    width:100%;
    border-collapse: collapse;
    margin-top:8px;
    transition:all 250ms;
}
#searchRouteTable th, #searchRouteTable td{
    text-align:left;
    padding: 8px 6px;
    border: 1px solid white;
}
#searchRouteTable th{
    background-color: #C8102E;
    color:white;
}
#searchRouteTable tr:nth-child(even){
    background-color: #ffb5b5;
}
#searchRouteTable tr:nth-child(odd){
    background-color: #ffd1d1;
}
#searchRouteTable tr:hover {
    background-color: rgba(200, 16, 46, .6);
    color:white;
    cursor:pointer;
}
#searchRouteTable tr td:last-child{
    text-align:right;
}
/* Search route map */
#searchRouteMap{
    display:none;
    height:300px;
    width:100%;
    transition:all 250ms;
}

/* Single */
#routeMap{
    height:300px;
    width:100%;
    border:0;
}
.greenBox{
    background: #28a745;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    text-decoration:none;
    transition:all 250ms;
}
.greenBox:hover{
    background-color: #218838;
}
.redBox{
    background: #C8102E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    margin:0 4px;
    text-decoration:none;
}
.redBox svg{
    margin:0 6px;
}
.redBox a{
    color:white;
    text-decoration:underline;
}
.redBtn{
    padding: 16px 12px;
    border-radius: 4px;
    background: #C8102E;
    border: none;
    color: white;
    font-size: 1.2em;
}
.redBtn:hover{
    cursor:pointer;
}
.info-container{
    display:flex;
    align-items:center;
    text-align:center;
    margin:0 12px;
}
.info-container .icon{
    height:38px;
}

/* Excersize page */
#excMap{
    height:calc(100vh - 200px);
    width:100%;
}
.excersizeSpecs h1{
    font-size:1.2em;
}

/* Log ind */
#logInForm input{
    width:100%;
    padding:8px;
    box-sizing:border-box;
    border-radius:4px;
    border:2px solid #ddd;
    transition:all 150ms;
}
#logInForm input:focus{
    border:2px solid #C8102E !important;
}
#logInForm input[type=submit]{
    padding:6px;
    margin-top:6px;
    background:#C8102E;
    color:white;
    border:2px solid #C8102E;
}
#logInForm input[type=checkbox]{
    width:auto;
}
.spec-label{
    font-size:.8em;
    display:inline;
}
#logInForm label{
    margin:8px 0;
}
.loginHelp{
    margin-top:.8em;
    text-align:center;
}
.loginHelp a{
    font-size:1em;
}
.loginHelp p{
    color:#6c757d;
}

/* Socials */
.btn-fb{
    background:#3b5a9b;
    color:white;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 12px;
}
.btn-twitter{
    background:#00abf4;
    color:white;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 12px;
}


/* Footer */
footer{
    margin-top:15px;
}
footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 75px;
}
footer ul{
    list-style-type:none;
    margin:12px 0;
    margin-right:2rem;
}

/* SVG logo */
.logo-img-class-1{
    fill:#d00a10;
}
.logo-img-class-2{
    fill:#fefefe;
}
.logo-text-class-1{
    fill:#002036;
}
.logo-text-class-2{
    fill:#002136;
}
.logo-text-class-3{
    fill:#012137;
}
.logo-text-class-4{
    fill:#8f9da7;
}
.logoTxt{
    transition:all 350ms;
}
/* blur + opacity */
svg path.blurred {
    /*filter: url(#blur);*/
    opacity:0;
}